<div class="listMovie">
  <h2> List of Movies </h2>
  <ul>
    <li *ngFor="let movie of movies"> <!--- FOR mostrar lista de peliculas-->
      <h2 (click)="movieClicked(movie)"> {{ movie.title }} </h2> <!--- Añadimos una funcion click para usar el serializador completo-->
    </li>
  </ul>
</div>

<!--- Añadimos una formulario que cargara los datos al hacer click-->
<hr>
<div class="formMovie">
  <label>Title:</label>
  <input type="text" [(ngModel)]="selectedMovie.title"/><br><br>
  <label>Description:</label>
  <input type="text" [(ngModel)]="selectedMovie.desc"/><br><br>
  <label>Year:</label>
  <input type="text" [(ngModel)]="selectedMovie.year"/><br><br>

  <button class="button" *ngIf="selectedMovie.id !=-1" (click)="updateMovie()"> UPDATE </button>
  <button class="button" *ngIf="selectedMovie.id ==-1" (click)="createMovie()"> CREATE </button>
  <button class="button" *ngIf="selectedMovie.id !=-1" (click)="deleteMovie()"> DELETE </button>
</div>
<!--- SI id es -1 no mostrar botones update, delet. Si es -1 mostrar solo create-->

<router-outlet></router-outlet>
