<h2> List of Movies </h2>
<ul>
  <li *ngFor="let movie of movies"> <!--- FOR mostrar lista de peliculas-->
    <h2 (click)="movieClicked(movie)"> {{ movie.title }} </h2> <!--- Añadimos una funcion click para usar el serializador completo-->
  </li>
</ul>

<!--- Añadimos una formulario que cargara los datos al hacer click-->
<hr>
Title <input type="text" [(ngModel)]="selectedMovie.title"/><br><br>
Description <input type="text" [(ngModel)]="selectedMovie.desc"/><br><br>
Year <input type="text" [(ngModel)]="selectedMovie.year"/><br><br>
<button *ngIf="selectedMovie.id !=-1" (click)="updateMovie()"> UPDATE </button>
<button *ngIf="selectedMovie.id ==-1" (click)="createMovie()"> CREATE </button>
<button *ngIf="selectedMovie.id !=-1" (click)="deleteMovie()"> DELETE </button>
<!--- SI id es -1 no mostrar botones update, delet. Si es -1 mostrar solo create-->

<router-outlet></router-outlet>
