<h2> List of Movies </h2>
<ul>
  <li *ngFor="let movie of movies">
    <h2 (click)="movieClicked(movie)"> {{ movie.title }} </h2> <!--- Añadimos una funcion click para usar el serializador completo-->
  </li>
</ul>

<!--- Añadimos una formulario que cargara los datos al hacer click-->
<hr>
Title <input type="text" [(ngModel)]="selectedMovie.title"/><br><br>
Description <input type="text" [(ngModel)]="selectedMovie.desc"/><br><br>
Year <input type="text" [(ngModel)]="selectedMovie.year"/><br><br>
<button (click)="updateMovie()"> UPDATE </button>

<router-outlet></router-outlet>
